In [1]:
import pandas as pd

In [2]:
members=pd.read_csv('../data/members.csv')
sample_submission=pd.read_csv('../data/sample_submission_zero.csv')
train = pd.read_csv('../data/train.csv')
transactions = pd.read_csv('../data/transactions.csv')

## Target - churn

Train contains the user id (msno) and the is_churn target variable (1 for churn, 0 for renew)

In [3]:
train.head(2)

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1

In [10]:
len(train)

992931

The submission should contain two columns msno and is_churn.

In [4]:
sample_submission.head(2)

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         0
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         0

In [7]:
len(sample_submission)

970960

## Member information

members.csv contains user id (msno), and basic user information.

In [5]:
members.head(3)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,NaN,9,20150525,20150526
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,NaN,4,20161221,20161224
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,NaN,4,20160306,20160309

In [8]:
len(members)

5116194

## Transactions
transactions.csv contains user id (msno) and details regarding payment such as the payment plan, auto-renew, and payment method.

In [6]:
transactions.head(3)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0

In [9]:
len(transactions)

21547746